<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <div class="main">
  <div class="upvote">

  </div>
  <header>
    <div class="logo">
      <%= link_to root_path do %>
         <%= image_tag "pizzaslice.png" %>
      <% end %>
    </div>
    <div class="description">
    <h1>UI Slice</h1>
    </div>
  </header>
  <div class="nav">
    <ul>
      <li><%= link_to "navbar", navbar_path %></li>
      <li><%= link_to "menu", menu_path %></li>
      <li><%= link_to "form", form_path %></li>
      <li><%= link_to "card", card_path %></li>
      <li><%= link_to "buttons", buttons_path %></li>
    </ul>

  </div>
  <div class="cards">
    <%= yield %>
  </div>
</div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
