<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
  <nav>
    <div class="title">
      <div class="logo">
        <%= link_to root_path do %>
           <%= image_tag "pizza.svg" %>
        <% end %>
      </div>
    </div>
    <div class="description">
      <h1>UI Slices</h1>
    <h4>A curated directory of UI components to help you build your website.</h4>
    </div>
  </nav>
    <div class="main">
  <div class="upvote">

  </div>
  <div class="nav">
    <ul>
      <li><%= link_to "button", buttons_path %></li>
      <li><%= link_to "card", card_path %></li>
      <li><%= link_to "form", form_path %></li>
      <li><%= link_to "navbar", navbar_path %></li>
      <li><%= link_to "search", search_path %></li>
    </ul>

  </div>
  <div class="cards">
    <%= yield %>
  </div>
</div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
